// Base styles

body {
    background-color: #f8c2cc;
    // transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
    // transition: all 0.3s ease-in-out;
}

img {
    display: block;
    max-width: 100%;
}

.iconSpans {
    width: 1.4rem;
    display: inline-block;
    opacity: 1;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    img {
        stroke: black;
        stroke-width: 10;
        position: absolute;
        top: -1.1rem;
        left: 0;
    }

    &:hover {
        opacity: 0.8;
    }
}