// Main styling
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Home Section
.home {
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  width: 100%;
  transform: translateX(-900%);
  order: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: row;


  .homeContainer {
    display: flex;
    flex-direction: row;

    .homeText {
      width: 65%;
      display: flex;
      flex-direction: column;
    }

    .heroImg {
      width: 30%;
      margin-left: auto;
    }
  }
}

// Flex stack for all sections

.portfolio {
  order: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-900%);
  width: 100%;
}

.contact {
  order: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  width: 100%;
}

.active {
  display: flex;
  order: 0;
  visibility: visible;
  opacity: 1;
  display: block;
  transition: all 0.5s ease-in-out;
  transform: translateX(0%);
}

.introText {
  margin: 0;
  line-height: 1.7rem;
  .flyaway {
    transform: translateY(0%);
    transition: all 1.8s ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  // Blur text when icons are clicked
  .takeflight {
    filter: blur(19px);
  }
}

// Skills title (default invisible)

.skillsTitle {
display: none;
display: inline-block;
transform: translateX(-500%);
  opacity: 0;
  height: 0%;
  transition: all 1.5s ease-in-out;
  
  h4 {
    padding: 0;
    margin: 0.5rem 0 0 0;
    line-height: 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    
  }
  
}

// Skills title visibility mode
.visible {
  transform: translateX(0%);
  height: 100;
  display: inline-block;
  opacity: 1;
}


// Individual home page icons
.react {
  &::after {
    content: "react.js";
    color: inherit;
    position: absolute;
    transform: translateX(50%);
    top: -1.21rem;
    cursor: default;
  }
}

.js {
  &::after {
    content: "javascript";
    color: inherit;
    position: absolute;
    top: -1.1rem;
    transform: translateX(40%);
    cursor: default;
  }
}

.css {
  &::after {
    content: "css3";
    color: inherit;
    position: absolute;
    top: -1.1rem;
    transform: translateX(105%);
    cursor: default;
  }
}

.html {
  &::after {
    content: "html5";
    color: inherit;
    position: absolute;
    top: -1.1rem;
    transform: translateX(80%);
    cursor: default;
  }
}

.github {
  &::after {
    content: "github";
    color: inherit;
    position: absolute;
    top: -1.2rem;
    transform: translateX(50%);
    cursor: default;
  }
}

.skillsAfter {
  color: rgb(0, 0, 0, 1);
}

h2 {
  border-bottom: 2px black solid;
  display: inline-block;
  color: #231f20;
  line-height: 1.8rem;
  padding-bottom: 0.65rem;
}

// Highlighter effect 

.highlight {
  transition: all 1.8s ease-in-out;
  background: linear-gradient(104deg,
      rgba(254, 203, 72, 0) 0.9%,
      rgba(254, 203, 72, 1.25) 2.4%,
      rgba(254, 203, 72, 0.5) 5.8%,
      rgba(254, 203, 72, 0.1) 93%,
      rgba(254, 203, 72, 0.7) 96%,
      rgba(254, 203, 72, 0) 98%),
    linear-gradient(183deg,
      rgba(254, 203, 72, 0) 0%,
      rgba(254, 203, 72, 0.3) 7.9%,
      rgba(254, 203, 72, 0) 15%);
  padding: 0.1rem 0.2rem;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 1px;
  text-shadow: -12px 12px 9.8px rgba(254, 203, 72, 0.7),
    11px -11.1px 7.3px rgba(254, 203, 72, 1),
    -18.1px -27.3px 30px rgba(254, 203, 72, 1);
}