// Main styling
.main {
  // transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
}

// Home Section
.home {
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  width: 100%;
  transform: translateX(-900%);
  order: 1;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: row;


  .homeContainer {
    display: flex;
    flex-direction: row;

    .homeText {
      width: 65%;
      display: flex;
      flex-direction: column;
    }

    .heroImg {
      width: 30%;
      margin-left: auto;
    }
  }
}

.portfolio {
  // display: none;
  order: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-900%);
  width: 100%;
}

.contact {
  // display: none;
  order: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  width: 100%;
}

.active {
  display: flex;
  order: 0;
  visibility: visible;
  opacity: 1;
  display: block;
  transition: all 0.5s ease-in-out;
  transform: translateX(0%);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  z-index: 100;
  display: flex;

  p {
    font-size: 0.6rem;
    padding: 0.5rem;
    margin: 0;
  }
}

.introText {
  margin: 0;
  line-height: 1.7rem;
  .flyaway {
    // position: static;
    transform: translateY(0%);
    transition: all 1.8s ease-in-out;
    opacity: 1;
    visibility: visible;
  }

  .takeflight {
    filter: blur(19px);
  }
}

.skillsTitle {
display: none;
display: inline-block;
transform: translateX(-500%);
  opacity: 0;
  height: 0%;
  transition: all 1.5s ease-in-out;
  
  h4 {
    padding: 0;
    margin: 0.5rem 0 0 0;
    line-height: 1.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    
  }
  
}

.visible {
    transform: translateX(0%);
  height: 100;
  display: inline-block;
  opacity: 1;
}
