@media (max-width: 1092px) {
  .home {
    h2 {
      margin-bottom: 1rem;
    }
  }
  
}


@media (max-width: 960px) {
  h1 {
    font-size: 2.6rem;
  }

  .navigation ul {
    gap: 1rem;
  }

  .home {
    h2 {
      font-size: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  .home {
    .introText {
            font-size: 1rem;

    }
  }
}

@media (max-width: 809px) {
  .home {
    h2 {
      margin-bottom: 0.8rem;
    }
  }
  
}

@media (max-width: 767px) {

  h1 {
    font-size: 2.1rem;
  }

  .home {
    .introText {
      font-size: 0.9rem;
      // line-height: 1.3rem;

      span {
        width: 1rem;
        img {
          stroke: black;
          stroke-width: 10;
          position: absolute;
          top: -0.8rem;
          left: 0;
        }
      }
    }
  }


  .portfolio {
    h2 {
      margin-bottom: 1.5rem;
    }
    .portfolioContainer {
      .portfolioDisplay {
        .project {
          flex-direction: column;
          .imgContainer {
            display: none;

          }
          .content {
            width: 100%;
            margin-left: 0;
            p {
              font-size: 1rem;
            }
          }
          
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header {
    .wrapper  {
      margin-top: 1.7rem;

      
    }
  }


  .home {
    .specialText {
      p {
        font-size: 0.85rem;
        line-height: 1.22rem;
        
      }
    }
  }

  // Navigation
  .navigation {
    position: fixed;
    right: -981px;
    z-index: 50;    
    padding: 0 7.6%;
    transition: all 0.3s;
    width: 100vw;
    height: 100vh;
    
    ul {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      text-align: right;
      li a {
        font-size: 2rem;
      }
    }
  }
  .navButton {
    display: block;
    padding: 0;
    // margin-top: 60px;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    font-size: 2.3rem;
    border: none;
    background: transparent;
    transition: all 0.2s ease-in-out;
    position: relative;

    .iconSpans {
      position: absolute;
      top: 1rem;
      left: -5px;
    }
  }
  .navButtonToggle {
    display: block;
    margin-left: auto;
    background: transparent;
    padding: 0;
    border: none;
    width: 1rem;
    height: 1rem;
    margin-bottom: 60px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;

    .iconSpans {
      position: absolute;
      top: 1rem;
      left: -5px;
    }
  }

.navActive {
    margin-top: -1.7rem;
    padding-top: 1.65rem;
    right: 0px;
    background-color: rgb(248, 194, 204, 0.9);
}



// Portfolio
.portfolio {
  h2 {
    margin-bottom: 1.3rem;
  }
  .portfolioContainer {
    .portfolioDisplay {
      // padding: 0.5rem;
      .project {
        flex-direction: column;
        .content {
          width: 100%;
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
}

@media (max-width: 560px) {
  .portfolio {
    .portfolioContainer {
      height: none;
      gap: 1.6rem;
    
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 0;    
        .projButton {
          display: block;
          .projLabel {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .contact {

    .socials {
      margin-top: 2rem;
      font-size: 0.9rem;
    }

    .contactText {
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
    .imgContainer {
      top: 3rem;
    }
  }

  
}

@media (max-width: 480px) {
  .home {
    .homeContainer {
      .homeText {
        width: 90%;
        p {
          margin: 0;
        }
      }
    
      .heroImg {
        margin-top: 1rem;
        width: 10%;
        position: relative;
        margin-left: 1.5rem;
        img {
          position: absolute;
          top: 0;
          left: -2rem;
          max-width: 300%;
        }
      }
    }
  }
}

@media (max-width: 380px) {

  .header {
        .wrapper {
          margin-top: 1.4rem;
        }
  }
  h1 {
    font-size: 1.5rem;
  }

  h2 {
        font-size: 1.2rem;
        margin: 0.3rem 0;
        line-height: 1.5rem;
        margin-bottom: 1.4rem;
  }

  // Home section
  .home {
    .homeContainer {
      .homeText {
  
        .introText {
          width:80vw;
        }
      }
  
      .heroImg {
        width: 15%;
        position: relative;
        margin-left: 1.5rem;
  
        img {
          position: absolute;
          top: 0;
          left: -2rem;
          min-width: 55px;
        }
      }
    }
  }
  




  .portfolio {
    h2 {
      font-size: 1.2rem;
      margin: 0.3rem 0 1rem 0;
    }

    .portfolioContainer {
      // height: 70vh;
      
      .portfolioDisplay {
        padding: 0 0.9rem 0 0 ;
      }
    }
  }
  
}
