// Navigation styles

.navigation  {

    ul {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
    }
    
}

// Mobile mode activation

.navButton {
    display: none;
}

.navButtonToggle {
    display: none;
}


