
.portfolio {


    h2 {
        margin: 1rem 0 0.3rem 0;
    }
}


.portfolioContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    .portfolioDisplay {
        border: 4px solid black;
        // border-radius: 10px;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        padding: 0.9rem;
        width: 100%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;

        .project {
            opacity: 0;
            visibility: hidden;
            transition: all 1.5s ease-in-out;
            width: 0%;
            height: 0%;
            order: 1;
            z-index: 0;
            display: flex;
            border: none;
            gap: 1rem;
            align-items: center;

            .imgContainer {
                width: 40%;
            }
            .content {
                display: flex;
                flex-direction: column;
                width: 55%;
                margin-left: 1.2rem;
                h4 {
                    font-size: 1rem;
                    padding: 0;
                    margin: 0;
                }
                p {
                    font-size: 0.9rem;
                    margin: 0.2rem 0 0 0 ;
                    // span {
                    //     width: 1.4rem;
                    //     display: inline-block;
                    //     opacity: 1;
                    //     position: relative;
                    //     transition: all 0.2s ease-in-out;
                    //     cursor: pointer;
                    
                    //     img {
                    //         stroke: black;
                    //         stroke-width: 10;
                    //         position: absolute;
                    //         top: -1.1rem;
                    //         left: 0;
                    //     }
                    
                    //     &:hover {
                    //         opacity: 0.8;
                    //     }
                    // }
                }
                
            
            }
        }


        .display {
            opacity: 1;
            display: flex;
            height: 90%;
            width: 90%;
            order: 0;
            z-index: 20;
            // border: solid black 1px;
            visibility: visible;
            // width: 300px;
            transition: all 0.5s ease-in-out;
        }
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 80%;
        height: 25%;
        button {
            display: inline-block;
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            font-family: "DeVinne";
            font-size: 0.8rem;
        }
    }

}